* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
  color: #7a7574;
}

a {
  list-style: none;
  text-decoration: none;
  color: #1d2124;
}
header {
  min-width: 100vw;
  position: fixed;
  height: 7rem;
  z-index: 2;
  background-color: #0e1b38;
}
header button {
  width: 4rem;
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 2rem;
  margin-top: 0.9rem;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}
.logotext {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1.7rem;
}
.logo img {
  width: 5rem;
  height: 5rem;
}
.logo p.logo1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.logo p.logo2 {
  color: #01c9f5;
  font-weight: bold;
}
.nav-links {
  display: none;
}
/* Burger thing */
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}
.burger span {
  padding: 0.2rem 2rem;
  background: #ffffff;
  margin: 0.5rem 0rem;
  display: block;
  transition: all 0.5s ease;
}
.buttonburger {
  display: none;
}
.nav-links1 li {
  margin-bottom: 4rem;
}
.nav-links1 a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.nav-links1 a:hover {
  text-decoration: underline;
}

.nav-links1 {
  background-image: linear-gradient(
    to bottom right,
    rgb(5, 79, 191, 1) 0%,
    rgb(28, 51, 99) 40%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 100%;
  flex-direction: column;
  transition: transform 1s ease;
  padding-top: 14rem;
  text-align: center;
}
.nav-links1 button {
  margin-top: 2.3rem;
  width: 17rem;
  height: 4.2rem;
  background-color: #0071c0;
  border: white solid 1px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.nav-open {
  transform: translateX(-100%);
}
.toggle .line1 {
  transform: rotateZ(45deg) translateY(300%);
  background: white;
  position: fixed;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-300%);
  background: white;
  position: fixed;
}
.acercade-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.cms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7rem;
}
.cmstitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90vw;
}
.marketing {
  width: 100%;
}

.cmstitle p.cmsp {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.cmstitle h4 {
  margin: 2rem 0;
  font-size: 3.4rem;
  padding-left: 1rem;
  color: #1d2124;
  border-left: #0071c0 solid 4px;
}
.cmstitle p.cmsp img {
  margin: 0 2rem;
}
.cmstitle h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin-bottom: 2rem;
}
.cmstitle p.cmsp1 {
  margin-top: 4rem;
}
.cmstitle p.cmsp1,
.cmstitle p.cmsp2,
.cmstitle p.cmsp3,
.cmstitle p.cmsp4,
.cmstitle ul.cmsp4 li {
  font-size: 1.7rem;
}
.cmstitle ul.cmsp4 li {
  margin-top: 2rem;
}
.cmstitle ul.cmsp4 li a {
  color: #01c9f5;
}
.cmstitle ul.cmsp4 li a:hover {
  text-decoration: underline;
}
.cms p.cmsp2 a {
  color: #01c9f5;
}
.cms p.cmsp2 a:hover {
  text-decoration: underline;
}
.cmstitle button {
  background-color: #01c9f5;
  border-style: none;
  width: 19rem;
  height: 4rem;
  border-radius: 0.4rem;
  align-self: flex-start;
  margin: 2rem 0;
}
.cmstitle button:hover {
  background-color: #0071c0;
  transition: ease 0.5s;
}
.cmstitle button a {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.7rem;
}
.CMS-img img {
  width: 90vw;
  margin: 2rem 0;
}
footer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #f7f6f9;
  text-align: center;
  transform: translate(0%, 29%);
  border-radius: 1rem;
  z-index: 1;
}
.footer1 h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.footer1 input {
  width: 90%;
  height: 5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: #7a7574;
  border-style: none;
  padding: 1rem;
}
.footer1 button {
  background-color: #2667ff;
  border-style: none;
  width: 19rem;
  height: 4rem;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}
.footer1 button a {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer1 button img {
  margin-left: 1rem;
}
.footer1 button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.inputs input {
  width: 47.9%;
}
.footer2 {
  padding-top: 20rem;
  z-index: 0;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/Group\ 77.svg"),
    linear-gradient(
      to bottom right,
      rgb(5, 79, 191, 1) 0%,
      rgb(14, 27, 56, 1) 40%
    );
  background-position: top right, center;
  background-size: 40rem, cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.direccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-bottom: 4rem;
}

.direccion p {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redessociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redessociales a {
  background-color: #3e4960;
  width: 5.9rem;
  height: 5.9rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
}
.redessociales a img {
  min-width: 4rem;
  max-width: 4rem;
}
.line {
  width: 70vw;
  height: 0.2rem;
  margin-bottom: 2rem;
  background-color: #323d56;
}
.ctafooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-bottom: 2rem;
}
.ctafooter h2 {
  font-size: 2.4rem;
  color: #ffffff;
}
.ctafooter p {
  font-size: 1.7rem;
  color: #ffffff;
}
.ctafooter button {
  background-color: #2667ff;
  border-style: none;
  border-radius: 0.4rem;
  width: 19rem;
  height: 4rem;
  margin-top: 2rem;
}
.ctafooter button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.ctafooter button a {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
}
.menufooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
}
.menufooter a {
  color: #ffffff;
  margin-right: 2rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}
.menufooter a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 279px) {
  .footer1 input {
    font-size: 1rem;
  }
}
@media screen and (min-width: 360px) {
  .footer1 input {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 900px) {
  header {
    position: absolute;
  }
  nav {
    justify-content: space-evenly;
  }
  .logo p.logo1 {
    color: rgb(221, 221, 221);
    font-weight: bold;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 59vw;
    max-width: 90rem;
  }
  .nav-links a {
    color: rgb(255, 255, 255, 1);
    font-size: 2rem;
  }
  .nav-links a:hover {
    background-color: #1c85e8;
    border-radius: 0.4rem;
    transition: ease 0.4s;
  }
  .burger {
    display: none;
  }
  .buttonburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 3.9rem;
    border: black solid 1px;
    background-color: #2667ff;
    border-style: none;
    border-radius: 0.6rem;
    margin-right: 0.7rem;
  }
  .buttonburger a {
    font-size: 2rem;
    color: rgb(255, 255, 255, 1);
    font-weight: bold;
  }
  .buttonburger:hover {
    background-color: #01c8f4;
    transition: ease 0.5s;
  }
  .acercade-main {
    justify-content: flex-start;
    align-items: center;
  }
  .cms {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .cmstitle {
    width: 40vw;
    margin-left: 24vw;
  }
  .CMS-img img {
    width: 34vw;
    margin-left: 1rem;
  }
  .footer1 h2 {
    font-size: 4.3rem;
  }
  .footer1 input {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1017px) {
  .footer1 {
    width: 100rem;
  }
}
