* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
  color: #7a7574;
}

a {
  list-style: none;
  text-decoration: none;
  color: #1d2124;
}
header {
  min-width: 100vw;
  position: fixed;
  height: 7rem;
  z-index: 2;
  background-color: #0e1b38;
}
header button {
  width: 4rem;
  overflow: hidden;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 2rem;
  margin-top: 0.9rem;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}
.logotext {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1.7rem;
}
.logo img {
  width: 5rem;
  height: 5rem;
}
.logo p.logo1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.logo p.logo2 {
  color: #01c9f5;
  font-weight: bold;
}
.nav-links {
  display: none;
}
/* Burger thing */
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
}
.burger span {
  padding: 0.2rem 2rem;
  background: #ffffff;
  margin: 0.5rem 0rem;
  display: block;
  transition: all 0.5s ease;
}
.buttonburger {
  display: none;
}
.nav-links1 li {
  margin-bottom: 4rem;
}
.nav-links1 a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.nav-links1 {
  background-image: linear-gradient(
      to bottom right,
      rgb(5, 79, 191, 1) 0%,
      rgb(28, 51, 99) 40%
    );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 100%;
  flex-direction: column;
  transition: transform 1s ease;
  padding-top: 14rem;
  text-align: center;
}
.nav-links1 a:hover {
  background-color: #0e1b38;
  transition: ease 0.5s;
  padding: 0 2rem;
  border-radius: 0.4rem;
}
.nav-open {
  transform: translateX(-100%);
}
.toggle .line1 {
  transform: rotateZ(45deg) translateY(300%);
  background: white;
  position: fixed;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotateZ(-45deg) translateY(-300%);
  background: white;
  position: fixed;
}
.buttonburger img {
  width: 2rem;
}
@keyframes movement {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(4%, 2%);
  }
}
.main-section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/src/Group\ 77.svg"),
    linear-gradient(
      to bottom right,
      rgb(5, 79, 191, 1) 0%,
      rgb(14, 27, 56, 1) 40%
    );
  background-position: top right, center;
  background-size: 60%, cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  min-height: 100vh;
  width: 39rem;
  padding-left: 2rem;
}
p.titlep1 {
  font-size: 1.4rem;
  color: #01c8f4;
}
p.titlep1 img {
  width: 1.4rem;
}
h1 {
  font-size: 3.4rem;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
p.titlep2 {
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.main-title button {
  background-color: #01c9f5;
  border-style: none;
  width: 17rem;
  height: 3.9rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-title button a {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  transition: ease 0.5s;
}
.main-title a img {
  transform: translate(0%, 10%);
  width: 1.4rem;
  margin-left: 0.2rem;
}

.main-title button:hover {
  background-color: #0071c0;
  transition: ease 0.5s;
}
.main-img {
  display: none;
}
.loquehago {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}
.loquehagotitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  text-align: center;
  margin-top: 4rem;
}
.loquehagotitle p {
  color: #01c9f5;
  font-size: 2rem;
  font-weight: 400;
}
.loquehagotitle h2 {
  font-size: 2.7rem;
  color: #1d2124;
  margin-top: 2rem;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 94vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 31rem;
  height: 54rem;
  border: rgb(122, 117, 116, 0.4) solid 2px;
  border-radius: 0.9rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
}
.card1 img {
  margin-top: 1.4rem;
  width: 13rem;
}
.card1 h2 {
  font-size: 2.4rem;
  color: #3f3d56;
  margin: 1.9rem 0;
}
.card1 p {
  font-size: 1.5rem;
  line-height: 1.7;
  width: 29rem;
}
.card1 a {
  font-size: 1.4rem;
  color: #2667ff;
  width: 17rem;
  height: 7rem;
}
.card1 a img {
  width: 1.4rem;
  transform: translate(0%, 24%);
}
.card1 a:hover {
  text-decoration: underline;
}
.negocioweb {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}
.negocioweb img.img1 {
  width: 90vw;
}
.negocio-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2rem;
  transform: translate(-0.7%, 0%);
}
.negocio-title h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin: 2rem 0;
}
.negocio-title p.acercadeimg {
  margin: 7rem 0 1rem 0;
  color: #01c9f5;
}
.negocio-title p.acercadeimg img {
  margin: 0 1rem;
  width: 5rem;
}
.negocio-title p {
  font-size: 1.7rem;
}
.negocio-title p.p1 {
  margin: 2rem 0;
  color: #3f3d56;
}
.negocio-title p img {
  width: 2rem;
  margin: 0;
  transform: translate(0%, 20%);
}
.negocio-title img {
  width: 4rem;
  margin: 0 1rem;
}
.negocio-title button {
  margin: 2rem 0;
  width: 16rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #0071c0;
  border-style: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.negocio-title button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.negocio-title button img {
  width: 1.7rem;
}
.negocio-title a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ffffff;
}
p.p2,
p.p3,
p.p4 {
  margin: 1rem 0;
}
.calidad {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7rem;
}
.calidadtitle {
  width: 94vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.calidadtitle h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin: 4rem 0;
}
.calidadtitle p {
  font-size: 1.7rem;
}
.calidadtitle p.p1 {
  margin: 2rem 0;
}
.calidadtitle .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.calidadtitle .button1,
.calidadtitle .button2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
  width: 90vw;
  border: #d4dcf4 solid 1px;
  border-radius: 0.7rem;
  margin-top: 2rem;
  color: #1d2124;
  font-weight: 600;
}
.calidadtitle .button1 img,
.calidadtitle .button2 img {
  width: 2.4rem;
  margin: 0.4rem 1rem;
}
.calidadtitle .button2 img {
  width: 1.7rem;
}
.calidadtext {
  color: #01c9f5;
  margin: 7rem 0 0 0;
}
.calidadtext img {
  margin: 0 1rem;
}
.calidadimg img {
  width: 90vw;
  margin-top: 4rem;
  margin-left: 1rem;
}

.proyectos {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #0e1b38;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.proyectos h2 {
  font-size: 2.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.proyectoscards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}
.proyectoscards .cards1 img,
.proyectoscards .cards2 img,
.proyectoscards .cards3 img {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}
.proyectoscards .cards1,
.proyectoscards .cards2,
.proyectoscards .cards3 {
  width: 94vw;
  border-style: none;
  margin: 2rem 0;
}
.proyectos p.proyectosp {
  margin: 4rem 0 2rem;
  font-size: 1.7rem;
  color: #01c9f5;
}
.proyectos .proyectosp img {
  margin: 0 1rem;
}
.proyectos p.contactoproyectos {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.proyectos p.contactoproyectos a {
  color: #01c8f4;
}
.proyectos span {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 2rem;
}
.optimizacionCMS {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0;
}
.cmstitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.optimization {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7rem;
}
.optimization img.seoimg {
  width: 79vw;
}
.optimizationtitle {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 4rem;
}
.optimizationtitle p.optimizationp {
  font-size: 1.4rem;
  color: #01c9f5;
  margin-bottom: 1rem;
}
.optimizationtitle p.optimizationp img {
  margin: 0 1rem;
}
.optimizationtitle h2 {
  font-size: 3.4rem;
  color: #1d2124;
}
.optimizationtitle p.optimizationp1 {
  font-size: 1.7rem;
  color: #1d2124;
  margin-top: 2rem;
}
.optimizationtitle p.optimizationp2,
.optimizationtitle p.optimizationp3,
.optimizationtitle p.optimizationp4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7rem;
  color: #3f3d56;
  margin-top: 2rem;
}
.optimizationtitle p.optimizationp2 img,
.optimizationtitle p.optimizationp3 img,
.optimizationtitle p.optimizationp4 img {
  width: 2rem;
  margin-right: 1rem;
}
.optimizationtitle p.optimizationp5 {
  font-size: 1.7rem;
  margin: 2rem 0;
}
.optimizationtitle button {
  width: 17rem;
  height: 3.4rem;
  background-color: #01c9f5;
  border-style: none;
  border-radius: 0.7rem;
  margin: 0 0 7rem 0;
}
.optimizationtitle button a {
  color: #ffffff;
  font-weight: bold;
}
.optimizationtitle button:hover {
  background-color: #0071c0;
  transition: ease 0.5s;
}
.cms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7rem;
}
.cmstitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
}
.cmstitle p.cmsp {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.cmstitle p.cmsp img {
  margin: 0 2rem;
}
.cmstitle h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin-bottom: 2rem;
}
.cmstitle p.cmsp1,
.cmstitle p.cmsp2,
.cmstitle p.cmsp3,
.cmstitle p.cmsp4 {
  font-size: 1.7rem;
}
.cms p.cmsp2 a {
  color: #01c9f5;
}
.cms p.cmsp2 a:hover {
  text-decoration: underline;
}
.cmstitle button {
  background-color: #01c9f5;
  border-style: none;
  width: 10rem;
  height: 3.1rem;
  border-radius: 0.4rem;
  align-self: flex-start;
  margin: 2rem 0;
}
.cmstitle button:hover {
  background-color: #0071c0;
  transition: ease 0.5s;
}
.cmstitle button a {
  color: #ffffff;
  font-weight: bold;
}
.CMS-img img {
  width: 90vw;
}
.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f6f9;
  padding: 0 2rem;
}
.tecnologiasp {
  color: #01c9f5;
  font-size: 1.7rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.tecnologiasp img {
  margin: 0 1rem;
}
.tecnologias h2 {
  font-size: 3.4rem;
  color: #1d2124;
  text-align: center;
}
.tecnologias-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card-col1 {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-col2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 17rem;
  height: 19rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.card-1 img {
  width: 9rem;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 4rem;
}
.skillstitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90vw;
  margin-top: 4rem;
  margin-bottom: 7rem;
}
.skillsp {
  font-size: 1.7rem;
  color: #01c9f5;
}
.skillsp img {
  margin: 0 1rem;
}
.skillstitle h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin: 4rem 0 1rem;
}
.skillstitle button {
  width: 19rem;
  height: 4rem;
  background-color: #2667ff;
  border-style: none;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skillstitle button a {
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 600;
}
.skillstitle button img {
  width: 1.7rem;
  transform: translate(0%, 20%);
  margin-left: 1rem;
}
.skillstitle button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.skills-img {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.skills-img img {
  width: 70vw;
}
.skills-img p {
  font-size: 1.7rem;
  color: #1d2124;
}
.precios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/src/Group\ 77.svg"),
    linear-gradient(
      to bottom right,
      rgb(5, 79, 191, 1) 0%,
      rgb(14, 27, 56, 1) 40%
    );
  background-position: top right, center;
  background-size: 60%, cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.precios p.preciosp {
  font-size: 1.7rem;
  color: #01c9f5;
  margin-top: 7rem;
}
.precios p.preciosp img {
  margin: 0 1rem;
}
.precios h2 {
  font-size: 3.9rem;
  color: #ffffff;
  width: 90vw;
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}
.precios-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}
.precios-cards button {
  margin: 2rem 0;
  background-color: #2667ff;
  border-style: none;
  border-radius: 0.4rem;
  width: 19rem;
  height: 4.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.precios-cards button a {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.precios-cards button a img {
  margin-left: 1rem;
}
.precios-cards button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.precios-cards img {
  min-width: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
}
.planbasico,
.planprofesional,
.planwordpress,
.planecommerce {
  background-color: #ffffff;
  margin-bottom: 2rem;
  margin-right: 2rem;
  width: 34rem;
  height: fit-content;
  padding: 2rem;
  border-radius: 0.9rem;
}
.planbasico h4,
.planprofesional h4,
.planwordpress h4,
.planecommerce h4 {
  font-size: 2rem;
  color: #1d2124;
  margin-bottom: 2rem;
}
.precios-cards h4.planesprecios {
  font-size: 4rem;
  color: #2667ff;
}
.planbasico p,
.planprofesional p,
.planwordpress p,
.planecommerce p {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
}
.planecommerce {
  margin-bottom: 4rem;
}
footer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: #f7f6f9;
  text-align: center;
  transform: translate(0%, 29%);
  border-radius: 1rem;
  z-index: 1;
}
.footer1 h2 {
  font-size: 3.4rem;
  color: #1d2124;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.footer1 input {
  width: 90%;
  height: 5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: #7a7574;
  border-style: none;
  padding: 1rem;
}
.footer1 button {
  background-color: #2667ff;
  border-style: none;
  width: 19rem;
  height: 4rem;
  border-radius: 0.7rem;
  margin-bottom: 2rem;
}
.footer1 button a {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer1 button img {
  margin-left: 1rem;
}
.footer1 button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.inputs input {
  width: 47.9%;
}
.footer2 {
  padding-top: 20rem;
  z-index: 0;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/Group\ 77.svg"),
    linear-gradient(
      to bottom right,
      rgb(5, 79, 191, 1) 0%,
      rgb(14, 27, 56, 1) 40%
    );
  background-position: top right, center;
  background-size: 40rem, cover;
  background-repeat: no-repeat;
  z-index: 0;
}
.direccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  margin-bottom: 4rem;
}

.direccion p {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redessociales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.redessociales a {
  background-color: #3E4960;
  width: 5.9rem;
  height: 5.9rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
}
.redessociales a img {
  min-width: 4rem;
  max-width: 4rem;
}
.line {
  width: 70vw;
  height: 0.2rem;
  margin-bottom: 2rem;
  background-color: #323d56;
}
.ctafooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-bottom: 2rem;
}
.ctafooter h2 {
  font-size: 2.4rem;
  color: #ffffff;
}
.ctafooter p {
  font-size: 1.7rem;
  color: #ffffff;
}
.ctafooter button {
  background-color: #2667ff;
  border-style: none;
  border-radius: 0.4rem;
  width: 19rem;
  height: 4rem;
  margin-top: 2rem;
}
.ctafooter button:hover {
  background-color: #01c9f5;
  transition: ease 0.5s;
}
.ctafooter button a {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: bold;
}
.menufooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
}
.menufooter a {
  color: #ffffff;
  margin-right: 2rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}
.menufooter a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 279px) {
  .cards .card1 p {
    padding: 0 2rem;
  }
  .footer1 input {
    font-size: 1rem;
  }
  .precios h2 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 360px) {
  .cards .card1 p {
    padding: 0;
  }
  .footer1 input {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 570px) {
  .proyectoscards .cards1,
  .proyectoscards .cards2,
  .proyectoscards .cards3 {
    width: 43vw;
  }
}

@media screen and (min-width: 640px) {
  .main-section {
    justify-content: center;
    background-size: 43%, cover;
  }
  .titlep2 {
    color: rgb(255, 255, 255, 0.7);
    width: 29rem;
  }
  .main-img {
    width: 39%;
    max-width: 50%;
    display: flex;
    animation: movement ease 4s infinite alternate-reverse;
  }
  .main-img img {
    width: 100%;
  }
}
@media screen and (min-width: 740px) {
  .calidadtitle .buttons {
    flex-direction: row;
  }
  .calidadtitle .button1,
  .calidadtitle .button2 {
    width: 43vw;
  }
  .optimization img.seoimg {
    width: 59rem;
  }
}
@media screen and (min-width: 770px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .redessociales a img {
    width: 6rem;
  }
}
@media screen and (min-width: 900px) {
  header {
    background-color: transparent;
    position: absolute;
  }
  nav {
    justify-content: space-evenly;
  }
  .logo p.logo1 {
    color: rgb(221, 221, 221);
    font-weight: bold;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 59vw;
    max-width: 90rem;
  }
  .nav-links a {
    color: rgb(255, 255, 255, 1);
    font-size: 2rem;
  }
  .nav-links a:hover {
    background-color: #1c85e8;
    border-radius: 0.4rem;
    transition: ease 0.4s;
  } 
  .burger {
    display: none;
  }
  .buttonburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 3.9rem;
    border: black solid 1px;
    background-color: #2667ff;
    border-style: none;
    border-radius: 0.6rem;
    margin-right: 0.7rem;
  }
  .buttonburger a {
    font-size: 2rem;
    color: rgb(255, 255, 255, 1);
    font-weight: bold;
  }
  .buttonburger:hover {
    background-color: #01c8f4;
    transition: ease 0.5s;
  }
  .buttonburger img {
    margin-left: 1rem;
  }
  .main-section {
    background-size: 34%, cover;
  }
  .main-title {
    width: 49rem;
  }
  .main-title h1 {
    font-size: 4.3rem;
  }
  .main-title p.titlep2 {
    font-size: 2.4rem;
    width: fit-content;
  }
  .main-title button {
    width: 19rem;
  }
  .main-title button a {
    font-size: 1.7rem;
  }
  .cards {
    width: 97vw;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .loquehagotitle h2 {
    font-size: 4rem;
    width: 50vw;
  }
  .negocioweb {
    flex-direction: row;
    justify-content: center;
  }
  .negocio-title,
  .negocioweb img.img1 {
    width: 43vw;
  }
  .negocio-title p.p1 {
    width: 40vw;
  }
  .calidadtitle h2,
  .proyectos h2 {
    font-size: 4rem;
  }
  .proyectoscards {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 90vw;
  }
  .proyectoscards .cards1,
  .proyectoscards .cards2,
  .proyectoscards .cards3 {
    width: 27vw;
    border-radius: 0.6rem;
  }
  .negocioweb {
    background-image: url("/src/fondo.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 110% center;
  }
  .calidad {
    flex-direction: row;
    justify-content: center;
  }
  .calidadtitle,
  .calidadimg img {
    width: 43vw;
  }
  .calidadtitle .button1,
  .calidadtitle .button2 {
    height: 7.9rem;
    overflow-y: hidden;
    margin-right: 1rem;
  }
  .optimization {
    flex-direction: row;
  }
  .optimizationtitle {
    margin-left: 1rem;
    width: 47vw;
  }
  .cms {
    flex-direction: row;
    justify-content: center;
  }
  .cmstitle {
    width: 34vw;
  }
  .CMS-img img {
    width: 34vw;
    margin-left: 1rem;
  }
  .skills {
    flex-direction: row;
  }
  .skillstitle {
    width: 34vw;
  }
  .skills-img {
    width: 34vw;
  }
  .skills-img img {
    width: 34vw;
    max-width: 40rem;
  }
  .footer1 h2 {
    font-size: 4.3rem;
  }
  .footer1 input {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 1017px) {
  .cards {
    min-width: 90rem;
    max-width: 110rem;
  }
  .calidadtitle {
    margin-left: 1rem;
    margin-top: -4rem;
  }
  .calidadimg {
    margin-top: 4rem;
  }
  .calidadtitle .button1,
  .calidadtitle .button2 {
    margin-left: 1rem;
  }
  .calidadtitle .button1 p,
  .calidadtitle .button2 p {
    font-size: 1.2rem;
  }
  .optimization {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .optimization img.seoimg,
  .optimizationtitle {
    width: 43vw;
  }
  .footer1 {
    width: 100rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-title h1 {
    font-size: 5.9rem;
  }
  .main-title {
    min-width: 47%;
  }
  .calidadtitle .button1 p,
  .calidadtitle .button2 p {
    font-size: 1.4rem;
  }
  .negocio-title,
  .negocioweb img.img1 {
    width: 34vw;
  }
  .negocio-title h2 {
    font-size: 4rem;
  }
  .negocio-title p.p1 {
    width: 34vw;
    padding-right: 4rem;
  }
  .calidadtitle,
  .calidadimg img {
    width: 34vw;
  }
}

@media screen and (min-width: 1400px) {
  .calidadtitle .button1 p,
  .calidadtitle .button2 p {
    font-size: 1.6rem;
  }
  .optimization img.seoimg,
  .optimizationtitle {
    width: 34vw;
  }
}
